build/
build-*/
cmake-build-*/
output/
.qtcreator/
*.user
*.autosave
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.o
*.exe
*.dll
*.so
*.dylib
*.log
*.json
.DS_Store
Thumbs.db
*.qm
*.aotstats
*_autogen/
.meta_types/
.qmlcache/

build/Desktop_Qt_6_10_2_MinGW_64_bit-Release/.ninja_log
build/Desktop_Qt_6_10_2_MinGW_64_bit-Debug/Testing/Temporary/LastTest.log
build/Desktop_Qt_6_10_2_MinGW_64_bit-Debug/meta_types/qt6demo1_metatypes.json
build/Desktop_Qt_6_10_2_MinGW_64_bit-Debug/EvolveUI/Main.qml
build/Desktop_Qt_6_10_2_MinGW_64_bit-Debug/EvolveUI/pages/HomePage.qml
build/Desktop_Qt_6_10_2_MinGW_64_bit-Debug/EvolveUI/pages/FavoritesPage.qml
build/Desktop_Qt_6_10_2_MinGW_64_bit-Debug/EvolveUI/pages/WaveformPage.qml
.qtcreator/CMakeLists.txt.user
